<% provide(:title, 'Edit user') %>
<h1>Update your profile</h1>

<div class="row">
	<div class="col-xs-6 col-xs-offset-3 form-group">
 		<%= render 'fields', button_value: "Save changes" %>
		<%= gravatar_for @user %>
		<a href="http://gravatar.com/emails" target="_label">Change</a>
	</div>
</div>

